/* 'Open Sans' font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap');


body {
    background: linear-gradient(90deg,#4c4c4c, white 35%, white 65%,#4c4c4c);
  font-family: 'Open Sans', sans-serif;
}

.MyInfo {
  width: 400px;
  margin: 25px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.MyInfo p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: var(--LoginColor-LightBlue);
}

.login-header,
.login-header input {
  background: var(--LoginColor-LightBlue);
  padding: 25px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.MyInfo-container {
  background: transparent;
  padding: 12px;
  height: 500px;
}

.MyInfo p {
  padding: 12px;
}

.MyInfo input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.MyInfo input[type="username"],
.MyInfo input[type="email"],
.MyInfo input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type="username"]:focus,
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}